<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <app-menu></app-menu>
    <header class="page-header">
        <!-- Adjustments for header and images -->
        <img src="{{coverImage}}" alt="Cover Image" class="cover-image">
        <img src="{{profileImage}}" alt="Profile Image" class="profile-image">
        <div class="header-name">{{name}}</div>
    </header>


<div class="content">
    <div class="new-card">
        <div class="input-container">
            <input type="text" class="new-card-title" placeholder="Title" [(ngModel)]="newCardTitle">
        </div>
        <textarea class="new-card-text" placeholder="What's on your mind?" [(ngModel)]="newCardText"></textarea>
        <button class="new-card-submit" (click)="addCard()">Post</button>
    </div>    

    <div class="card" *ngFor="let card of cards">
      <img [src]="card.imageUrl" alt="Image" class="card-image">
      <div class="card-content">
        <h2 class="card-title">{{card.title}}</h2>
        <p class="card-description">{{card.description}}</p>
      </div>
    </div>
  </div>
  
    
</body>
