<div class="card-container">
  <ng-container *ngFor="let card of cards">
    <div class="card">
      <div class="card__image" [style.backgroundImage]="'url(' + card.bannerImage + ')'"></div>
      <div class="card__content">
        <h2>{{ card.title }}</h2>
        <p>{{ card.description }}</p>
        <div class="card__buttons">
          <button class="secondary-button">Details</button>
          <button class="primary-button" (click)="openSubscriptionPopout(card)">Subscribe</button>
        </div>
      </div>
    </div>

    <div *ngIf="card.showPopout" class="subscription-popout card">
      <div class="subscription-popout__close" (click)="closeSubscriptionPopout(card)">✖</div>
      <h2 class="subscription-popout__title">Choose a Subscription for {{ card.title }}!</h2>
      <div class="subscription-popout__options">
        <ng-container *ngFor="let subscription of card.subscriptions; let last = last">
          <div class="subscription-popout__option card">
            <h3 class="subscription-type">{{ subscription.type }}</h3>
            <p class="subscription-description">{{ subscription.description }}</p>

            <h2 class="subscription-popout__price">{{subscription.price}}</h2>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="card.showPopout" class="overlay"></div>

  </ng-container>
</div>


