<nav>
  <ul id="nav">
    <li class="nav-link">
      <h1 data-name="home" [routerLink]="isCreator() ? '/creator/home' : '/subscriber/home'">Home</h1>
      <div class="underline"></div>
    </li>    
    <li class="nav-link">
      <h1 data-name="Subscriptions" *ngIf="!isCreator()">Subscriptions</h1>
      <div class="underline"></div>
    </li>
    <li class="nav-link">
      <h1 data-name="Feed" *ngIf="!isCreator()">Feed</h1>
      <div class="underline"></div>
    </li>
    <li class="nav-link">
      <h1 data-name="Subscriptions" *ngIf="isCreator()">Subscribers</h1>
      <div class="underline"></div>
    </li>
    <li class="nav-link">
      <h1 data-name="Feed" *ngIf="isCreator()">Profile</h1>
      <div class="underline"></div>
    </li>
    <li class="nav-link">
      <h1 data-name="Logout" (click)="logout()">Logout</h1>
      <div class="underline"></div>
    </li>
  </ul>
</nav>


