#nav {
  list-style-type: none;
  padding: 0;
  background-color: hotpink;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  margin-bottom: 50px;
  z-index: 100;
  margin-top: 0;

}

#nav .nav-link {
  display: inline-block;
  position: relative;
  cursor: pointer/* Adăugăm această proprietate pentru a poziționa bara sub */
}

#nav .nav-link h1 {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

#nav .nav-link .underline {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in-out; /* Efect de tranziție pentru lățime */
}

#nav .nav-link:hover .underline {
  width: 100%; /* Lățimea la 100% la hover */
}

#nav .nav-link h1:hover {
  font-weight: bold;
}

/* Stil pentru elementul activ */
#nav .nav-link.active .underline {
  width: 100%; /* Lățimea la 100% pentru elementul activ */
}

#nav .nav-link.active h1 {
  font-weight: bold;
  text-decoration: underline;
}
