<nav class="navbar">
  <a class="navbar__logo" href="/home">
    <img src="../../../assets/logo.png" alt="Site Logo">
  </a>

  <div class="navbar__hamburger j-hamburger" (click)="toggleMenu()">
    <div class="navbar__hamburger-line"></div>
    <div class="navbar__hamburger-line"></div>
    <div class="navbar__hamburger-line"></div>
  </div>

  <ul class="navbar__links j-navbar-links">
    <li class="navbar__link">
      <a data-name="home" href="/subscriber/home">Home</a>
    </li>
    <li class="navbar__link" *ngIf="!isCreator()">
      <a data-name="Subscriptions" href="subscriber/subscriptions">Subscriptions</a>
    </li>
    <li class="navbar__link" *ngIf="isCreator()">
      <a data-name="Feed">Feed</a>
    </li>
    <li class="navbar__link">
      <a data-name="Logout" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>


