<nav class="navbar">
  <a class="navbar__logo" href="/home">
    <img src="../../../assets/logo.png" alt="Site Logo">
  </a>
  <ul class="navbar__links">
    <li class="navbar__link">
      <a data-name="home" href="/subscriber/home">Home</a>
    </li>
    <li class="navbar__link">
      <a data-name="Subscriptions" (click)="toSubscriptions()">Subscriptions</a>
    </li>
    <li class="navbar__link">
      <a data-name="Feed">Feed</a>
    </li>
    <li class="navbar__link">
      <a data-name="Logout" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>


